<!-- Bottom Nav -->
<footer>
    <nav class="fixed-bottom navbar-dark bg-dark  text-center">
      <h6 class="navbar-text text-white mt-3">&copy; Copyright 2021. All Rights reserved.</h6>
    </nav>
  </footer>