/* Custom CSS goes here */

.navbar-custom {
  background-color: #fff8f2;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

#li-text-color {
  color: black;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
